
div {
    background-color: brown;
    color: white;
}

a {
    color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
a:hover {
    color: lightcoral;
}