<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1> 
</div>

<div>
  <nav>
      <ul>
          <a routerLink="">
            <li>Posts List</li>
          </a> 
          <a routerLink="product/new"> 
            <li>New Product</li> 
          </a>

          <a routerLink="product"> 
            <li>Product List</li> 
          </a>
          <a routerLink="product/edit"> 
            <li>Edit</li> 
          </a>
          <a routerLink="product/delete"> 
            <li>Delete</li> 
          </a>
      </ul>
  </nav>
  
</div>

<router-outlet></router-outlet>
