<h2>POST LIST </h2>

<hr>

    <table class="mytable">
    <thead>
        <tr>
            <th colspan="7" class=""><h2>POST-LIST (from: https://jsonplaceholder.typicode.com/posts) </h2></th>
        </tr>  
        <tr>
            <th>USER ID</th>
            <th>ID</th>
            <th>TITLE</th>            
            <th>BODY</th>   
            <th>Actions</th>    
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of posts">
            <td>{{item.userId}}</td>
            <td>{{item.id}}</td>   
            <td>{{item.title}}</td> 
            <td>{{item.body}}</td>                    
            <td><button (click)= "editPost( item.id )"> E </button></td> 
            <td><button (click)= "deletePost( item.id )"> X </button></td>           
            
        </tr>    
    </tbody>
    <tfoot>
        <tr>
            <th>USER ID</th>
            <th>ID</th>
            <th>TITLE</th>            
            <th>BODY</th>   
            <th>Actions</th>         
        </tr>
    </tfoot>
</table>




