<h2>PRODUCT LIST </h2>
    <ul>
        <li *ngFor="let item of products">
            <p>{{item.id}}</p>
            <p>{{item.name}}</p>   
            <p>{{item.description}}</p> 
            <p>{{item.price}}</p>                    
            <p>{{item.category_id}}</p>                    
            <p>{{item.category_name}}</p>                    
                       
            
        </li>    
    </ul>
   
<router-outlet></router-outlet>

<!-- id: string;
name: string;
description: string;
price: string;
category_id: string;
category_name: string;
} -->