
.mytable {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px 10px;    
}

table {
    background-color: blanchedalmond;
} table th {
    margin: 0%;
    padding-left: 10px;
    padding-right: 10px;
}
table .title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table td {
    padding: 2px 2px;
    
    border: 0ch;
}

th {
    text-align: left;
    background-color: cadetblue;
}